body{
  margin: 0;
  padding: 0;
  background: Black;
}
a img{
  height: 35%;
  width: 30%;
}
a{
  text-decoration: none;
  outline: none;
}
h1{
 color: #f44277;
 font-family: fantasy;
 font-size: 3.6em;
}
